@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Sofia+Sans&display=swap');


:root{
    --font-1:'Sofia Sans', sans-serif;
    --font-2:'Akshar', sans-serif;

    --color-1: #ffffff;
    --color-2: #1B0D38;
    --color-3: #ffffff44;
    --color-4: #160F43;
    --color-5: #071945;
    --color-6: #4e1eae;
    --color-7: #2c77f0;
    --color-8: #dc1399;
    --color-9: #8028e4;
    --color-10: #5491f3;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 101%;
    box-sizing: border-box;
    background-image: linear-gradient(360deg, var(--color-2), var(--color-4), var(--color-6));
    overflow-x: hidden;
}

.comet{   
    display: flex; 
    flex-direction: row;
    position: absolute;
    top: 100px;
}

.comet span{  
    width: 2px;
    height: 2px;
    background-color: #ffffff;
    margin: 0 20px;
    border-radius: 100%;
    box-shadow: 0 0 0 1px #ffffff44,
    0 0 1px #ffffff,
    0 0 4px #ffffff;
    animation: animar calc(90s/var(--i)) linear infinite;
}

@keyframes animar {
    0%{
        transform: translateY(-10vh) scale(1);
    }
    100%{
        transform: translateY(196vmax) scale(1);
    }
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #2b245a;
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(360deg, var(--color-2), var(--color-4), var(--color-5));
    border: 1px solid #ffffff10;
    border-radius: 10%;
}

header{
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0.7% 0 0.5% 0;
    width: 100%;
    height: auto;
    background-color: #11013039;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 0 #ffffff1a;
    z-index: 10;
}

header div{
    padding: 0 0 0 5%;
    display: flex;
    align-items: center;
    gap: 24%;
}

#logo{
    font-size: 40px;
    font-family: var(--font-1);
    color: var(--color-10);
    text-decoration: none;
    transition: .5s;
}

#logo:hover{
    opacity: 0.3;
    transform: scale(1.1);
}

.linhas{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--color-1);
    transition: all 0.3s ease-in-out;
}

nav ul{
    display: flex;
    gap: 5rem;
}

nav ul li{
    width: 25%;
    padding: 0 5% 0 0;
    display: flex;
    list-style-type: none;
    text-align: center;
    display: table-cell;
    transition: .5s;
}

nav ul li a{

    display: flex;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: var(--color-1);
    font-family: var(--font-1);
}

nav ul li:hover{
    opacity: 0.3;
    transform: scale(1.1);
}

#astro{
    position: absolute;
    top: 0;
    left: 85%;
    z-index: 0;
    opacity: 0.3;
}

#around{
    position: absolute;
    top: 140%;
    left: -8%;
    z-index: 0;
    opacity: 0.3;
}

#planet{
    position: absolute;
    top: 245%;
    left: 80%;
    z-index: 0;
    opacity: 0.3;
}

#container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#Home{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10% 14% 5% 14%;
    align-items: center;
    gap: 2%;
}

#title-f{
    text-align: center;
    color: var(--color-1);
    font-family: var(--font-1);
    font-size: 48px;
    filter: contrast(50%);
}

#strong{
    color: var(--color-7);
    font-family: var(--font-1);
}

#img-1{
    padding: 1% 0 0 0;
    filter: contrast(100%);
    width: 45%;
    height: auto;
    transform: translate(0, -10%);
    animation: float 5s ease-in-out infinite;
}

@keyframes float{
    0%, 100%{
        transform: translate(0px);
    }
    50%{
        transform: translate(0, -20px);
    }
}

#About{
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10% 10% 10% 10%;
    display: flex;
    flex-direction: row-reverse;
    z-index: 9;
    align-items: center;
    gap: 1rem;
}

#about-elements{
    padding: 0 0 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#title-s{
    color: var(--color-1);
    font-family: var(--font-1);
    font-size: 46px;
    filter: contrast(50%);
    text-align: center;
    z-index: 9;
}

#text-f{
    color: var(--color-1);
    font-size: 32px;
    font-family: var(--font-1);
    filter: contrast(50%);
    font-style: italic;
    text-align: center;
    z-index: 9;
}

#img-2{
    width: 37%;
    height: auto;
    transform: translate(0, -10%);
    animation: float 5s ease-in-out infinite;
    filter: contrast(50%);
}

#knowledge{
    display: flex;
    padding:  0 0 0 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid var(--color-8);
    border-width: 10px;
}

#html, #css, #js, #py,#c {
    width: 90%;
    gap: 1rem;
    height: auto;
    filter: contrast(80%);
    transition: .5s;
}

#html:hover, #css:hover, #js:hover, #py:hover,#c:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

#network{
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid var(--color-8);
    border-width: 10px;
    gap: 5rem;
}

#github, #instagram, #linkedin{
    width: 100%;
    gap: 1rem;
    height: auto;
    filter: contrast(20%);
    transition: .5s;
}

#github:hover, #instagram:hover, #linkedin:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

#Projects{
    padding: 5% 18% 15% 18%;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

#projects-elements{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title-t{
    font-family: var(--font-1);
    color: var(--color-1);
    filter: contrast(50%);
    font-size: 46px;
    text-align: center;
}

#text-s{
    padding:  0 0 7% 0;
    font-family: var(--font-1);
    color: var(--color-1);
    font-size: 22px;
    filter: contrast(50%);
    text-align: center;
}

#view{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin: 10px;
}

#view-f, #view-s, #view-t{
    margin: 10px;
    padding: 2% 2% 2% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1%;
    border: 1px solid;
    box-shadow:
    0 0 8px var(--color-9),
    0 0 12px var(--color-9);
    transition: .5s;
}

#view-f:hover, #view-s:hover, #view-t:hover{
    border-color: var(--color-8);
    transform: scale(1.1);
}

#box-f, #box-s, #box-t{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4% 0 4% 0;
    z-index: 9;
}

#proj1, #proj2, #proj3{
    z-index: 9;
    width: 100%;
    height: auto;
    border-radius: 5%;
    margin-top: 2px;
    padding: 0 0 0 0;
    border: 1px solid;
}

#box-f h1, #box-s h1, #box-t h1{
    padding:  20% 0 0 0;
}

#Projects div h1{
    font-size: 28px;
    font-family: var(--font-1);
    color: var(--color-1);
    text-align: center;
    filter: contrast(50%);
}

#text-t, #text-fu, #text-q{
    word-break: normal;
    font-size: 20px;
    font-family: var(--font-1);
    color: var(--color-1);
    text-align: center;
    padding: 0 0 0 0;
    font-style: italic;
}

#show{
    font-size: 30px;
    font-family: var(--font-1);
    color: var(--color-1);
    text-align: center;
    text-decoration: none;
    transition: .5s;
    padding:  2% 0 2% 0;
    margin: 10px;
}

#show:hover{
    opacity: 0.3;
    transform: scale(1.1);
}

#Contact{
    margin: 0;
    padding: 10% 0 15% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#contact-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

main h2{
    padding: 0 0 1% 0%;
    font-size: 46px;
    font-family: var(--font-1);
    color: var(--color-1);
    text-align: center;
    filter: contrast(50%);
}

main h3{
    padding: 0 0 15% 0%;
    font-size: 34px;
    font-family: var(--font-1);
    color: var(--color-1);
    text-align: center;
    filter: contrast(50%);
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0%;
    margin: 0;
    flex-direction: row;
    width: 100%;
    gap: 10%;
}

#link, #insta, #whatsapp, #email{
    transition: .5s;
}

#link:hover, #insta:hover, #whatsapp:hover, #email:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

#img-3{
    width: 20%;
    transform: translate(0, -10%);
    animation: float 5s ease-in-out infinite;
}

footer{
    margin: 0;
    padding: 1% 0 1% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #0d041f;
    gap: 5%;
}

footer div{
    font-size: 90%;
    filter: contrast(50%);
    font-family: var(--font-1);
    color: var(--color-1);
    text-align: center;
    font-style: italic;
}

/*Devices*/

@media (min-width: 320px) and (max-width:480px){
    *{
        margin: 0;
        padding: 0;
    }
    
    html{
        scroll-behavior: smooth;
    }
    
    body{
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        background-image: linear-gradient(360deg, var(--color-2), var(--color-4), var(--color-6));
        overflow-x: hidden;
    }
    
    .comet{   
        display: flex; 
        flex-direction: row;
        position: absolute;
        top: 100px;
    }
    
    .comet span{  
        width: 2px;
        height: 2px;
        background-color: #ffffff;
        margin: 0 20px;
        border-radius: 100%;
        box-shadow: 0 0 0 1px #ffffff44,
        0 0 1px #ffffff,
        0 0 4px #ffffff;
        animation: animar calc(90s/var(--i)) linear infinite;
    }
    
    @keyframes animar {
        0%{
            transform: translateY(-10vh) scale(1);
        }
        100%{
            transform: translateY(464vmax) scale(1);
        }
    }
    
    ::-webkit-scrollbar{
        width: 10px;
        background-color: #2b245a;
    }
    
    ::-webkit-scrollbar-thumb{
        background-image: linear-gradient(360deg, var(--color-2), var(--color-4), var(--color-5));
        border: 1px solid #ffffff10;
        border-radius: 10%;
    }
    
    header{
        position: fixed;
        top: 0;
        margin: 0;
        padding: 0.7% 0 0.5% 0;
        width: 25%;
        height: auto;
        background-color: #11013039;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px 0 #ffffff1a;
        z-index: 10;
    }
    
    header div{
        padding: 0 0 0 5%;
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1%;
    }
    
    #logo{
        font-size: 40px;
        font-family: var(--font-1);
        color: var(--color-10);
        text-decoration: none;
        transition: .5s;
        height: auto;
    }
    
    #logo:hover{
        opacity: 0.3;
        transform: scale(1.1);
    }

    .linhas{
        display: block;
    }

    .linhas.active .bar:nth-child(2){
        opacity: 0;
    }

    .linhas.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .linhas.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 5px 5px;
        background-color: #11013039;
        text-align: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
       }
    
    nav ul li{
       margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    nav ul li a{    
        display: flex;
        text-decoration: none;
        width: 100%;
        height: auto;
        color: var(--color-1);
        font-family: var(--font-1);
        align-items: center;
        justify-content: center;
    }
    
    nav ul li:hover{
        opacity: 0.3;
        transform: scale(1.1);
    }
    
    #astro{
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 0;
        opacity: 0.3;
    }
    
    #around{
        position: absolute;
        top: 140%;
        left: -50%;
        z-index: 0;
        opacity: 0.3;
    }
    
    #planet{
        position: absolute;
        top: 340%;
        left: 50%;
        z-index: 0;
        opacity: 0.3;
    }
    
    #container{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    
    #Home{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 40% 5% 30% 5%;
        align-items: center;
        gap: 5rem;
    }
    
    #title-f{
        text-align: center;
        color: var(--color-1);
        font-family: var(--font-1);
        font-size: 36px;
        filter: contrast(50%);
    }
    
    #strong{
        color: var(--color-7);
        font-family: var(--font-1);
    }
    
    #img-1{
        padding: 0;
        filter: contrast(100%);
        width: 100%;
        height: auto;
        transform: translate(0, -10%);
        animation: float 5s ease-in-out infinite;
    }
    
    @keyframes float{
        0%, 100%{
            transform: translate(0px);
        }
        50%{
            transform: translate(0, -20px);
        }
    }
    
    #About{
        margin:10px;
        padding: 10% 5% 10% 5%;
        display: flex;
        flex-direction: column;
        z-index: 9;
        align-items: center;
        gap: 1rem;
    }
    
    #about-elements{
        padding: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    #title-s{
        color: var(--color-1);
        font-family: var(--font-1);
        font-size: 46px;
        filter: contrast(50%);
        text-align: center;
        z-index: 9;
    }
    
    #text-f{
        color: var(--color-1);
        font-size: 26px;
        font-family: var(--font-1);
        filter: contrast(50%);
        font-style: italic;
        text-align: center;
        z-index: 9;
    }
    
    #img-2{
        width: 70%;
        height: auto;
        transform: translate(0, -10%);
        animation: float 5s ease-in-out infinite;
        filter: contrast(50%);
    }
    
    #knowledge{
        display: flex;
        padding:  0 0 0 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-style: solid var(--color-8);
        border-width: 10px;
    }
    
    #html, #css, #js, #py,#c {
        width: 90%;
        gap: 1rem;
        height: auto;
        filter: contrast(80%);
        transition: .5s;
    }
    
    #html:hover, #css:hover, #js:hover, #py:hover,#c:hover {
        opacity: 0.5;
        transform: scale(1.1);
    }
    
    #network{
        display: flex;
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-style: solid var(--color-8);
        border-width: 10px;
        gap: 2rem;
    }
    
    #github, #instagram, #linkedin{
        width: 100%;
        gap: 1rem;
        height: auto;
        filter: contrast(20%);
        transition: .5s;
    }
    
    #github:hover, #instagram:hover, #linkedin:hover {
        opacity: 0.5;
        transform: scale(1.1);
    }
    
    #Projects{
        margin: 10px;
        padding: 15% 5%;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    
    #projects-elements{
        margin: 10px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    #title-t{
        font-family: var(--font-1);
        color: var(--color-1);
        filter: contrast(50%);
        font-size: 46px;
        width: auto;
        text-align: center;
    }
    
    #text-s{
        padding:  0 0 7% 0;
        font-family: var(--font-1);
        color: var(--color-1);
        font-size: 22px;
        filter: contrast(50%);
        text-align: center;
    }
    
    #view{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin: 10px;
    }
    
    #view-f, #view-s, #view-t{
        margin: 10px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        border: 1px solid;
        box-shadow:
        0 0 8px var(--color-9),
        0 0 12px var(--color-9);
        transition: .5s;
    }
    
    #view-f:hover, #view-s:hover, #view-t:hover{
        border-color: var(--color-8);
        transform: scale(1.1);
    }
    
    #box-f, #box-s, #box-t{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        z-index: 9;
        padding: 5% 5%;
    }
    
    #proj1, #proj2, #proj3{
        z-index: 9;
        width: 100%;
        height: auto;
        border-radius: 5%;
        margin-top: 2px;
        padding: 0 0 0 0;
        border: 1px solid;
    }
    
    #box-f h1, #box-s h1, #box-t h1{
        padding:  0 0 0 0;
    }
    
    #text-t, #text-fu, #text-q{
        word-break: normal;
        font-size: 20px;
        font-family: var(--font-1);
        color: var(--color-1);
        text-align: center;
        padding: 0 0 10% 0;
        font-style: italic;
    }
    
    #show{
        font-size: 30px;
        font-family: var(--font-1);
        color: var(--color-1);
        text-align: center;
        text-decoration: none;
        transition: .5s;
        padding:  2% 0 2% 0;
        margin: 10px;
    }
    
    #show:hover{
        opacity: 0.3;
        transform: scale(1.1);
    }
    
    #Contact{
        margin: 10px;
        padding: 20% 0 20% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    
    #contact-elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    
    main h2{
        padding: 0;
        font-size: 46px;
        font-family: var(--font-1);
        color: var(--color-1);
        text-align: center;
        filter: contrast(50%);
    }
    
    main h3{
        padding: 0 0 5% 0%;
        font-size: 34px;
        font-family: var(--font-1);
        color: var(--color-1);
        text-align: center;
        filter: contrast(50%);
    }
    
    #content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 10px;
        flex-direction: row;
        width: 100%;
        height: auto;
        gap: 10%;
    }
    
    #link, #insta, #whatsapp, #email{
        transition: .5s;
    }
    
    #link:hover, #insta:hover, #whatsapp:hover, #email:hover{
        opacity: 0.7;
        transform: scale(1.1);
    }
    
    #img-3{
        width: 50%;
        transform: translate(0, -10%);
        animation: float 5s ease-in-out infinite;
    }
    
    footer{
        margin: 0;
        padding: 1% 0 1% 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        background-color: #0d041f;
        gap: 0.5rem;
    }
    
    footer div{
        font-size: 90%;
        filter: contrast(50%);
        font-family: var(--font-1);
        color: var(--color-1);
        text-align: center;
        font-style: italic;
        height: auto;
    }
}